.DS_Store
node_modules/
/dist/
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

Thumbs.db
db.json
*.log
public/
.deploy*/
src/_drafts
package-lock.json